<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Online Code Application</display-name>

	<servlet>
		<servlet-name>OnlineCodeFrontal</servlet-name>
		<servlet-class>net.ivoa.pdl.OnlineCodeFrontal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OnlineCodeFrontal</servlet-name>
		<url-pattern>/OnlineCode</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TavernaCodeFrontal</servlet-name>
		<servlet-class>net.ivoa.pdl.TavernaCodeFrontal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TavernaCodeFrontal</servlet-name>
		<url-pattern>/TavernaCodeFrontal</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JsonCodeFrontal</servlet-name>
		<servlet-class>net.ivoa.pdl.JsonCodeFrontal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JsonCodeFrontal</servlet-name>
		<url-pattern>/JsonCodeFrontal</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getJobInfo</servlet-name>
		<servlet-class>net.ivoa.pdl.getJobInfo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>getJobInfo</servlet-name>
		<url-pattern>/getJobInfo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TavernaJobInfo</servlet-name>
		<servlet-class>net.ivoa.pdl.TavernaJobInfo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TavernaJobInfo</servlet-name>
		<url-pattern>/TavernaJobInfo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JobSummary</servlet-name>
		<servlet-class>net.ivoa.pdl.JobSummary</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JobSummary</servlet-name>
		<url-pattern>/JobSummary</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StopJob</servlet-name>
		<servlet-class>net.ivoa.pdl.StopJob</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StopJob</servlet-name>
		<url-pattern>/StopJob</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getResultsByGrid</servlet-name>
		<servlet-class>net.ivoa.pdl.getResultsByGrid</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>getResultsByGrid</servlet-name>
		<url-pattern>/getResultsByGrid</url-pattern>
	</servlet-mapping>
	

</web-app>